<% provide(:title, "Home") %>
<h1>Sample App</h1>
<p>
	This is the home page for the
	<a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
	sample application.
</p>

<%= select :samurai, :pet, [["犬", "dog"], ["猫", "cat"]], :prompt => "洗濯してください" %>